* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

body, html {
  height: 100%; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }
  .btn + .btn {
    margin-left: 1rem; }
  @media screen and (min-width: 64em) {
    .btn {
      padding: 0.75rem 1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
      padding: 0.6rem 0.9rem;
      font-size: 0.9rem; } }
  @media screen and (max-width: 42em) {
    .btn {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 0.9rem; }
      .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

#ph {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  width: 100%;
  z-index: 2;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }
  aside nav {
    margin: 0 auto; }
    aside nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      aside nav ul li {
        float: left;
        position: relative; }
        aside nav ul li a {
          text-decoration: none;
          display: block;
          padding: 15px;
          font-family: 'Muli', sans-serif;
          color: #fff;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0; }
          aside nav ul li a:hover, aside nav ul li a:active {
            text-decoration: none;
            color: #19CCAA; }
    aside nav:after {
      content: '';
      display: table;
      clear: both; }

.page-header {
  color: #fff;
  overflow: hidden;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 5rem 6rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 3rem 4rem; } }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 2rem 1rem; } }

.page-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-align: center;
  font-family: myFont; }
  @media screen and (min-width: 64em) {
    .project-name {
      font-size: 3.25rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
      font-size: 2.25rem; } }
  @media screen and (max-width: 42em) {
    .project-name {
      font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: center;
  opacity: 0.7; }
  @media screen and (min-width: 64em) {
    .project-tagline {
      font-size: 1.25rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
      font-size: 1.15rem; } }
  @media screen and (max-width: 42em) {
    .project-tagline {
      font-size: 1rem; } }

.main-content {
  word-wrap: break-word;
  text-align: justify;
  min-height: 86%;
  height: auto !important;
  margin: 0; }
  @media screen and (min-width: 64em) {
    .main-content {
      max-width: 64rem;
      padding: 0 6rem;
      margin: 20px auto;
      font-size: 1.1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
      padding: 2rem 4rem;
      font-size: 1.1rem; } }
  @media screen and (max-width: 42em) {
    .main-content {
      padding: 2rem 1rem;
      font-size: 1rem; } }
  /*.main-content img {
    max-width: 100%; }*/
  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
    font-family: titlesFont; }
  .main-content p {
    margin-bottom: 1em; }
  .main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #567482;
    background-color: #f3f6fa;
    border-radius: 0.3rem; }
  .main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem; }
    .main-content pre > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: #567482;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0; }
  .main-content .highlight {
    margin-bottom: 1rem; }
    .main-content .highlight pre {
      margin-bottom: 0;
      word-break: normal; }
  .main-content .highlight pre,
  .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch; }
  .main-content pre code,
  .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
    .main-content pre code:before, .main-content pre code:after,
    .main-content pre tt:before,
    .main-content pre tt:after {
      content: normal; }
  .main-content ul,
  .main-content ol {
    margin-top: 0; }
  .main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0; }
    .main-content blockquote > :first-child {
      margin-top: 0; }
    .main-content blockquote > :last-child {
      margin-bottom: 0; }
  .main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch; }
    .main-content table th {
      font-weight: bold; }
    .main-content table th,
    .main-content table td {
      padding: 0.5rem 1rem;
      border: 1px solid #e9ebec; }
  .main-content dl {
    padding: 0; }
    .main-content dl dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold; }
    .main-content dl dd {
      padding: 0;
      margin-bottom: 1rem; }
  .main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0; }

.site-footer {
  color: #fff;
  text-align: center;
  background-color: #0B4C5F;
  display: block;
  overflow: hidden;
  position: relative;
  height: 11em; }
  box-shadow: 0px 500px 0px 500px #0B4C5F; }
  @media screen and (min-width: 64em) {
    .site-footer {
      /*padding: 5rem 6rem;*/
      font-size: 1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
      /*padding: 3rem 4rem;*/
      font-size: 1rem; } }
  @media screen and (max-width: 42em) {
    .site-footer {
      padding: 2rem 1rem;
      font-size: 0.9rem; } }

.site-footer-owner {
  display: block;
  color: #E2E2E2;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

.site-footer, .push {
  clear: both; }
.push {
  height: 4em; }

/* Make exception with icons like github */
a[href^="http://"]:after,
a[href^="https://"]:after:not(.github-img) {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px; }

@font-face {
  font-family: myFont;
  src: url('../font/Capsmall_clean.ttf'); }

@font-face {
  font-family: titlesFont;
  src: url('../font/RobotoSlab-Bold.ttf'); }

ul.footer-p {
  line-height: 40px;
  list-style-type: none; }

.github-img img{
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  border-radius: 20%;
  -webkit-transition-duration: 0.4s; }

.github-img img:hover {
  background-color: #e7e7e7;
  color: white;
  border-radius: 20%;
  /*box-shadow: ;*/ }

/* HOME BLOCKS */
.landing-content-container {
  padding-bottom: 10px;
  /*padding-top: 10px;*/
  position: relative; }
@media (min-width: 767px) {
  .landing-content-container {
    padding-bottom: 20px;
    padding-top: 4px;
  }
}
.landing-content-container .landing-row {
  margin-bottom: 30px;
  padding-top: 15px;
  height: auto;
  width: auto;
}
.landing-content-container .landing-row .landing-row-title {
  margin-bottom: 15px;
  text-align: left;
}
.landing-content-container .landing-row p {
  margin-bottom: 20px ;
  overflow:auto;
  display:block;
}
.index-list {
  margin-bottom: 30px;
  list-style-position: inside; }

@media (max-width: 767px) {
  .landing-content-container .landing-row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .landing-content-container .landing-row .landing-row-title {
    text-align: center;
    margin: 0 auto 30px;
    order: 1;
  }
  .landing-content-container .landing-row .landing-left-image {
    margin: 0 auto 30px;
    order: 2;
  }
  .landing-content-container .landing-row .landing-right-image {
    margin: 0 auto 30px;
    order: 2;
  }
  .landing-content-container .landing-row p {
    margin: 0 auto;
    order: 3;
  }
  .landing-content-container .landing-row div {
    margin: 0 auto;
    order: 4;
  }
  .index-list {
    text-align: left;
    margin: 0 auto;
    order: 4;
    list-style-position: outside; }
}

.landing-content-container .landing-left-image {
  height: auto;
  margin-bottom: 10px;
  display: flex;
  max-width: 300px;
  object-fit: contain;
  float: left;
  object-position: top;
  clear: both; }

.landing-content-container .landing-right-image {
  height: auto;
  display: flex;
  max-width: 300px;
  object-fit: contain;
  object-position: top;
  float: right;
  margin-right: 10px;
  clear:both; }

.middle {
	width: 100%;
	padding: 60px 0 0 0;
	text-align: justify;
	min-height: 86%;
	height: auto !important;
	margin: 0 auto -4em; }
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container2 {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 270px;
	margin: 50px;
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
	color: #606c71;
}
.content h1,
.content h2,
.content h3 {
	font-family: titlesFont;
	color: #159957; }
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
}
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
}

#toc {
    padding: 2px;
    border: 1px solid #aaa;
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    padding-right: 10px;
}

:target:before {
  content:"";
  display:block;
  height:4rem; /* fixed header height*/
  margin:-4rem 0 0; /* negative fixed header height */
}

.toctree {
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 3;
}

.current{
	font-weight: bold;
	color: #088A08;
	}
