<aside>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav col-xs-10">
                <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li><a href="{{ site.baseurl }}/_pages/about.html">About</a></li>
                <li><a href="{{ site.baseurl }}/_pages/contact.html">Contact</a></li>
            </ul>
        </div>
      </div>
</nav>
</aside> 
<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
