<aside id="ph">
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="nav">
                <li style="float: left !important"><a href="{{ site.baseurl }}/index.html"><font face=myFont><b>CLARA</b></font></a></li>
				<li style="float: right !important"><a href="{{ site.baseurl }}/docs/reference.html">Reference</a></li>
               	<li style="float: right !important"><a href="{{ site.baseurl }}/docs/examples.html">Examples</a></li>
			  	<li style="float: right !important"><a href="{{ site.baseurl }}/docs/tutorials.html">Tutorials</a></li>
				<li style="float: right !important"><a href="{{ site.baseurl }}/docs/guides/index.html">Guides</a></li>
				<li style="float: right !important"><a href="{{ site.baseurl }}/docs/quickstart/index.html">Quick Start</a></li>

			</ul>
	   </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
</nav>
</aside>
<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
