---
layout: base
---
{% include toc.html %}

<div class="document-wrapper">
  <aside class="left-sidebar">
    <strong>CLAS Data Processing</strong>
    <ul>
      {% assign current = page.url | downcase | split: '/' %}
      <li><a href="{{ site.baseurl }}/docs/clas/installation.html" {% if current[3] == 'installation.html' %}class='current'{% endif %}>Installation</a></li>
      <li><a href="{{ site.baseurl }}/docs/clas/data-processing.html" {% if current[3] == 'data-processing.html' %}class='current'{% endif %}>Data processing</a></li>
      <li><a href="{{ site.baseurl }}/docs/clas/resources.html" {% if current[3] == 'resources.html' %}class='current'{% endif %}>Resources</a></li>
    </ul>
  </aside>
  <div class="content-wrapper">
    <div class="content-container">
      <main class="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
      </main>
    </div>
  </div>
  <aside class="right-sidebar">
  {% unless page.notoc %}
    <div id="toc"></div>
  {% endunless %}
  </aside>
</div>
