---
layout: base
---
{% include toc.html %}

<div class="document-wrapper">
  <aside class="left-sidebar">
    <strong>{{ page.type_desc }}</strong>
    <ul>
      {% assign current = page.url | downcase | split: '/' %}
      {% assign words = current[3] | downcase | split: '.' %}
      {% for doc in site.pages %} {% if doc.type == page.type and doc.id != 'index' %}
        <li><a href="{{ site.baseurl }}/docs/{{ page.type }}/{{ doc.id }}.html" {% if words[0] == doc.id %}class='current'{% endif %}>{{ doc.title }}</a></li>
      {% endif %}{% endfor %}
    </ul>
  </aside>
  <div class="content-wrapper">
    <div class="content-container">
      <main class="content">
        {{ content }}
      </main>
    </div>
  </div>
  <aside class="right-sidebar">
  {% unless page.notoc %}
    <div id="toc"></div>
  {% endunless %}
  </aside>
</div>
<script src="{{ site.baseurl }}/js/permalink.js"></script>
