<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include toc.html %}

    {% include page-header.html %}

    <section class="middle">

      <div class="container2">
        <main class="content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </main>
      </div>

      <aside class="left-sidebar"><div id="toc"></div></aside>

      <aside class="right-sidebar"></aside>

      <div class="push"></div>

    </section>

    {% include footer.html %}

  </body>

</html>
